.navbar-toggler {
    border: 1px solid white;
}

.navbar-brand{
    margin-left:-2rem;
}

.carousel-div{
   margin-right: -20%;
}

footer {
  width: 100%; 
  margin: 0 auto;
}

@media (min-width: 992px) {
  footer {
    width: 50%;
  }

}
@media (max-width: 992px) {
.carousel-div{
   margin-right: 0px;
}

}